/* Paleta de colores */
/* #30C5FF
#2A2D34
#5C946E
#80C2AF
#A0DDE6 */

* {
    margin: 0;
    padding: 0%;
    font-family: "Montserrat", sans-serif;
}

/* Encabezado de pagina */

.navbar-collapse {
    flex-direction: row-reverse;
}
.ancho-restringido {
    max-width: 750px;
}
.titulo-logo {
    font-weight: 300%;
}
.nav-link {
    transition: 0.5s;
}
.titulo-pestaña-productos {
    margin: 20px;
    padding: 10px;
}

.barra {
    background-color: #80c2af !important;
}

.logo {
    height: 123px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* Estilos para  la mini card */
.mini-card {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
    border: 4px solid #5c946e;
    border-radius: 5px;
}

.mini-card:hover {
    background-color: #faf8f8;
}

.mini-card-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 10px;
}

.mini-card-info {
    flex-grow: 1;
    height: 150px;
    width: 300px;
}
.mini-card-info .cantidad-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
}
.cantidad {
    font-size: 1.5rem;
    margin: 0 10px;
    width: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.mini-card h5 {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.mini-card p {
    font-size: 1.2rem;
    margin: 1px 0;
}

.mini-card button {
    margin-top: 25px;
    font-size: 0.8rem;
}

.cantidad {
    box-sizing: content-box;
    align-items: flex-end;
}

.mini-card button.btn-restar-modal,
.mini-card button.btn-sumar-modal {
    font-size: 1.2rem;
    padding: 0.2rem 0.5rem;
    background-color: #2a2d34;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-right: 5px;
}

.mini-card button.btn-restar-modal:hover,
.mini-card button.btn-sumar-modal:hover {
    background-color: #5c946e;
}
.correo {
    padding: 15px;
}

/* Estilo para las Cards */
.card {
    border-color: #5c946e;
    border-width: 5%;
    font-size: 20px;
}

.cartas {
    margin-bottom: 40px;
}

/* Estilo del formulario de busqueda */
.formBusqueda {
    margin-top: 50px;
}

/* Estilo de los botones */
.btn-comprar {
    border-radius: 20px;
    color: #59a96a;
    background-color: white;
    border-color: #59a96a;
}

.btn-comprar:hover {
    background-color: #9bdeac;
    border: black;
}

.btn-buscar {
    background-color: #b4e7ce;
    border: #59a96a;
}

.btn-cerrar {
    background-color: #a0dde6;
    border-color: #80c2af;
    border: 10px;
}

/* Estilos del carrusel de fotos */
.carrusel {
    margin-top: 5%;
}

.overflow {
    overflow: hidden;
}

.carousel-item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/* Texto introductorio a productos */
.textoProductos {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
}

.footer {
    background-color: #80c2af !important;
    text-align: center;
}
